*.iml
.DS_Store
.classpath
.cxx
.externalNativeBuild
.gradle
.kotlin
.project
.settings/
/.idea
/app/build
/app/libs
/app/src/main/assets
/app/src/main/jniLibs
/build
/captures
/kls_database.db
local.properties
